@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
html,
body {
  min-width: 100vw;
  margin: 0;
  background-color: #404040;
  font-family: "SUITE-Regular", "sans-serif";
}
