.ant-layout {
  min-height: 100vh;
  background-color: #e0e0e0;
}
.ant-layout .ant-layout-sider, .ant-layout-header, .ant-layout-footer {
  background-color: #404040;
}
body {
  min-width: 100vw;
  margin: 0;
  background-color: #404040;
}